*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	font-family: 'Questrial', sans-serif;
	
}
.background-margin{
    margin-bottom: 4em;
    padding-top: .5em;
    padding-left: 5%;
    padding-right: 5%;
    background: rgb(245, 245, 245);
}
h1.heading{
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
    font-size: 44px;
	text-align:	center;
}
.following-heading{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
    color: #8d8d8d;
    margin: .25em;
    text-align:	center;
}
.known-lang{
	font-size: 15px;
	text-align: center;
	font-family: 'Raleway', sans-serif;

}
a.write{
	line-height:27px;
	font-family: 'Raleway:b', sans-serif;
	vertical-align:middle;
	cursor: pointer;
	text-decoration: none;
    font-weight: 600;
    color:#000;
}
img.profile-background{
	
	display: inline-block;
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(235, 235, 235);
    border-image: initial;

	
    height: 150px;

	background-size: cover;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    background-position: center center;
}
footer.background-footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    font-family: Raleway, sans-serif;
    background: rgb(242, 242, 243);
    padding: 50px 5% 15px;
}